<Slider [titleSlider]="titleSlider" [size]="'small'"></Slider>
<div class="center">
  <section id="content">
    <h1 class="subheader">Peliculas</h1>

    <h2>{{ title }}</h2>

    <button (click)="changeTitle()">Pulsame</button>
    <hr />
    <h2>Mostrar primera pelicula</h2>
    {{ movies[0].title }}

    <hr />

    <h2>Numero de pelicuas</h2>
    <div *ngIf="movies.length <= 3">
      hay pocas pelicuas
    </div>
    <div *ngIf="movies.length > 3">
      hay muchas pelicuas
    </div>
    {{ movies.length }}

    <hr />
    <h2 class="subheader">Listado de Pelicuas</h2>
    <div id="articles" *ngIf="movies">
      <article class="article-item" *ngFor="let movie of movies; let i = index">
        <div class="image-wrap">
          <img src="{{ movie.image }}" alt="" />
        </div>
        <h2>{{ i + 1 }} - {{ movie.title }}</h2>
        <div
          class="date"
          [ngClass]="{
            'year-green': movie.year > 2016,
            'year-red': movie.year < 2016
          }"
        >
          {{ movie.year }}
        </div>
        <div class="clearfix"></div>
      </article>
    </div>
  </section>
  <Sidebar></Sidebar>
</div>
