<Slider [titleSlider]="titleSlider" [size]="'small'"></Slider>
<div class="center">
  <section id="content">
    <div id="favorite" *ngIf="movieFavorite">
      <h2 class="subheader">
        Pelicula Favorita
      </h2>
      <h4>{{ movieFavorite.title }}</h4>

    </div>
    <h1 class="subheader">Peliculas</h1>

    <!-- <h2>{{ title }}</h2>

    <button (click)="changeTitle()">Pulsame</button>
    <hr />
    <h2>Mostrar primera pelicula</h2>
    {{ movies[0].title }}

    <hr />

    <h2>Numero de pelicuas</h2>
    <div *ngIf="movies.length <= 3">
      hay pocas pelicuas
    </div>
    <div *ngIf="movies.length > 3">
      hay muchas pelicuas
    </div>
    {{ movies.length }}

    <hr />
    <h2 class="subheader">Listado de Pelicuas</h2>
    -->
    <div id="articles" *ngIf="movies">
      <div *ngFor="let movie of movies; let i = index">
        <app-pelicula (movieFavorite)="showMovieFavorite($event)"  [movie]="movie" [i]="i"></app-pelicula>
      </div>

    </div>
  </section>
  <Sidebar></Sidebar>
</div>
